 @font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeueDeskUI.ttc') format('truetype');
}

@font-face{
  font-family: "Science Fair";
  src: url('Science Fair.otf') format('truetype');
}

@font-face{
  font-family: "Science Fair Light";
  src: url('Science Fair Light.otf') format('truetype');
}
.description{
  font-family: 'Helvetica Neue';
  overflow: auto;
  width: 600px;
  position: relative;
  margin: auto;
  padding: 10px;
  border: 5px solid white;
  background-color:rgba(0,0,0,0.2);
  }

.description p{
 color: white;
 line-height: 140%;
 font-weight: 300%;
 font-size: 20px;
 text-align: justify;
 text-shadow: black 0.1em 0.2em 0.5em;
}


.liveStreamNote {
  width: 150px;
  height: 80px;
 /* overflow: auto;*/
  margin: auto;
  position: fixed;
  top: 87%;
  right: 3%;
  text-align: center;
  font-family: 'Helvetica Neue';
  color: black;
  text-shadow: black 0.1em 0.1em 0.5em;
  background-color:rgba(0,0,0,0.4);
  padding: 1px;
  z-index: 1;
  }

.liveStreamNote p{
  color: white;
  z-index: 1;
  font-size: 24px;
}

.player {
width: 150px;
/*overflow: auto;*/
position: fixed;
top: 92%;
right: 3%;
z-index: 1;
}


footer
{
  width: 100%;
  height: 50px;
  background-color:rgba(0,0,0,0.4);
  bottom: 0;
  position: fixed;
  z-index: 0;
}

footer p{
  color: white;
  font-style: italic;
}

.mainbody
{
  background: url(cadillac.jpg) no-repeat 10% 10%;
}

.pagetitle{
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Science Fair Light';
  font-size: 150px;
  color: white;
  margin-top: 6%;
  margin-left: 1%;
  text-shadow: black 0.1em 0.1em 0.4em;
}

.subtitle{
  width: 40%;
  height: 10%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Science Fair Light';
  font-size: 30px;
  font-style: italic;
  color: white;
  margin-top: 6%;
  text-shadow: black 0.1em 0.1em 0.4em;
}

.pagetitle a:link{
  color: white;
}

.pagetitle a:visited{
  color: white;
}
.nav{
  width: 28%;
  height: 750px;
  display: block;
  background-color:rgba(0,0,0,0.4);
  text-align: left;
  position: absolute;
  line-height: 200%;
  margin-top: 5%;
}

.menu ul {
  top: 15%;
  bottom: 0;
}
.menu li {
  padding-left: 5%;
}

.menuindent{
  margin-left: 10%;
}


/* CSS Reset
================================================== */

html,body,div,span,h4,h6,p,a,ul,li,audio {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

body { line-height:1; }
ul { list-style:none; }


/* Basic Styles
================================================== */

html,body {
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
font:20px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:300;
padding:5px 0;
}


/* Typography
================================================== */

h2,h3,h4,h5,h6,p { color:#808080; font-weight:200; }
h2 { font-size:42px; line-height:44px; margin:20px 0 0; }
h6 { font-size:18px; line-height:20px; margin:4px 0 20px; }
p { font-size:16px; line-height:20px; margin:0 0 2px; }


/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration: none;}
a:hover,a:focus { color:#bbb; }
p a,p a:visited { color: gray; line-height:inherit; }
p a:hover{ font-style: italic;}



.myiframe{
  margin-top: 5%;
  margin-left: 30%;
}

.menu a:link{
  text-decoration: none;
}

.smalltext {
  font-size: 12px;
}

.aboutPic{
  margin: auto;
}

.schedule{
  padding-left: 4%;
}

.weekend{
  padding-left: 2%;
}

.weekend p{
  font-size: 12px;
}

.frameborder{
  width: 640px;
  margin: auto;
}

.orgname a:link{
  color: "#FFBAD2"
}

.soundcaption p {
  font-size: 12px;
  color: black;
  background-color:rgba(255,255,255,0.5);
  padding: 5px;
}

.friday{
  width: 47%;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
}

.saturday{
  width: 47%;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
}

.sunday{
  width: 47%;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid white;
  padding: 5px;
}